<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Respondenter</h1>
			<ol class="breadcrumb">
				<li><i class="fa fa-dashboard"></i> <a href="#/">Dashboard</a>
				</li>
				<li class="active"><i class="fa fa-users"></i> Respondenter</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<i class="fa fa-file-text-o fa-fw"></i> Bestäm vad som ska visas
					</h3>
				</div>
				<div class="panel-body">
					<form method="post">
						<div class="form-group">
							<div class="col-md-6">
								<p class="input-group">
									<input type="text" class="form-control"
										uib-datepicker-popup="{{format}}" ng-model="dt"
										is-open="popup1.opened" datepicker-options="dateOptions"
										ng-required="true" close-text="Close"
										alt-input-formats="altInputFormats" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="open1()">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</p>
							</div>

							<div class="col-md-6">
								<p class="input-group">
									<input type="text" class="form-control" uib-datepicker-popup
										ng-model="dt" is-open="popup2.opened"
										datepicker-options="dateOptions" ng-required="true"
										close-text="Close" /> <span class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="open2()">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</p>
							</div>
						</div>
						<div class="form-group">
							<label>Checkboxes</label>
							<div class="checkbox">
								<label> <input type="checkbox" value="">Checkbox
									1
								</label>
							</div>
							<div class="checkbox">
								<label> <input type="checkbox" value="">Checkbox
									2
								</label>
							</div>
							<div class="checkbox">
								<label> <input type="checkbox" value="">Checkbox
									3
								</label>
							</div>
							<div class="checkbox">
								<label> <input type="checkbox" value="">Checkbox
									3
								</label>
							</div>
							<div class="checkbox">
								<label> <input type="checkbox" value="">Checkbox
									3
								</label>
							</div>
							<div class="checkbox">
								<label> <input type="checkbox" value="">Checkbox
									3
								</label>
							</div>
							<div class="checkbox">
								<label> <input type="checkbox" value="">Checkbox
									3
								</label>
							</div>
						</div>
					</form>
				</div>
				<div class="panel-footer">
					<span class="pull-right">
						<button class="btn btn-primary">
							<i class="fa fa-save"></i> Spara
						</button>
					</span>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<i class="fa fa-bar-chart-o fa-fw"></i> Obesvarade/besvarade
						enkäter för perioden xxx - xxx fördelat på inst
					</h3>
				</div>
				<div class="panel-body" ng-controller="chartsCtrl">
					<canvas height="300" id="bar" class="chart chart-bar"
						chart-data="data" chart-labels="labels" chart-series="series"
						chart-options="options">
					</canvas>
					<div class="text-right">
						<a href="#">Detaljer <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<div style="border-top: 1px solid #ddd;"></div>
			<div>
				<h2 class="pull-left">De tio senaste körningarna</h2>
				<span class="pull-right" style="margin-top: 20px;">
					<button class="btn btn-primary">
						<i class="fa fa-file-excel-o"></i> Exportera till .csv
					</button>
				</span>
				<div class="clearfix"></div>
			</div>
			<div class="table-responsive">
				<table id="utskickTable"
					class="table table-bordered table-hover table-striped">
					<thead>
						<tr>
							<th>Tidpunkt</th>
							<th># nya utskick</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>2016-12-15 23:45</td>
							<td>23</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>2016-12-14 23:45</td>
							<td>0</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>2016-12-13 23:45</td>
							<td>2</td>
							<td>&nbsp;</td>
						</tr>
						<tr class="danger">
							<td>2016-12-12 23:45</td>
							<td>0</td>
							<td><a href="#">Fel!</a></td>
						</tr>
						<tr>
							<td>2016-12-11 23:45</td>
							<td>0</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>2016-12-10 23:45</td>
							<td>3</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>2016-12-09 23:45</td>
							<td>0</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>2016-12-08 23:45</td>
							<td>0</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>2016-12-07 23:45</td>
							<td>3</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>2016-12-06 23:45</td>
							<td>0</td>
							<td>&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- /.row -->
</div>
<!-- /.container-fluid -->